<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">
    NEW POST
    <form class="ui form" action="/blogs" method="post">
      <div class="field">
        <label for="">Title</label>
        <input type="text" name="blog[title]" value="" placeholder="Title...">
      </div>
      <div class="field">
        <label for="">Image</label>
        <input type="text" name="blog[image]" value="" placeholder="Image URL...">
      </div>
      <div class="field">
        <label for="">Blog Content</label>
        <textarea name="blog[body]" rows="8" cols="80" placeholder="Say what's on your mind..."></textarea>
      </div>
      <input class="ui violet inverted button" type="submit" >
    </form>
  </div>
</div>
<% include ./partials/footer %>
